{% extends 'base.html' %}
{% load static %}
{% block content %}

   <div id="main" class="product-list">
        <h1>{% if cat %}{{ cat.name }}{% else %}Products{% endif %}</h1>
        {% for product in posts %}

            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.photo %}{{ product.photo.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" width="300">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                {% autoescape on %} {{product.content|linebreaks|truncatewords:50}} {% endautoescape %}
                ${{ product.price }}

            </div>
        {% endfor %}
    </div>
{% endblock %}
