{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if cat %}{{ cat.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.photo %}{{ product.photo.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" width="400" id="post_img">
        <h1>{{ product.title }}</h1>
        <h2><a href="{{ product.cat.get_absolute_url }}" style="color:black;">{{ product.cat }}</a></h2>
        <p class="price" style="color:red;">₴{{ product.price }}</p>
        {{ product.content|linebreaks }}
    </div>
<img src="{% static 'images/dno_magaz.png' %}" width="100%" height="100px">
{% endblock %}